{% extends "blog/base.html" %}
{% block content %}
        <div class="content container ">
            <div class="row">
                <div class="col-md-8">
                    {% for category in categories %}
                    {{ category.post_set }}
                        <h1><a href="{% url 'category_detail' pk=category.pk %}">{{ category.title }}</a></h1>
                    {% endfor %}
                </div>
            </div>
        </div>
{% endblock %}
