{% extends "blog/base.html" %}
{% block content %}
        <div class="content container ">
            <div class="row">
                <div class="col-md-8">
                  {% for post in category.post_set.all %}
                  {% include "blog/base_post_single.html" %}
                  {% endfor %}
                </div>
            </div>
        </div>
{% endblock %}
