{% load staticfiles %}
{% block head %}
<html>
    <head>
      {% include 'blog/base_links.html' %}

      <title>Django Girls blog</title>
    </head>
    <body>
      <div class="page-header fixed-top">
          <h1><a href="/">Django Girls Blog</a></h1>
      </div>

{% endblock %}
