<div class="post section">
  {% if post.published_at %}
      <div class="date">
          {{ post.published_at }}
          <a href="{% url 'category_detail' pk=post.category.pk %}">{{ post.category }}</a></h1>
      </div>
  {% endif %}
    <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
    <p>{{ post.text|linebreaksbr }}</p>
</div>
